<html>
  <head>
    <title>OMERO search engine client</title>

    <!-- Need jQuery and jQuery UI for auto-complete -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script src="{% static 'omero_search_engine_client/js/search_form_utils.js' %}"></script>
    <link rel="stylesheet" href="{% static 'omero_search_engine_client/css/search_form_styles.css' %}" />
 
  </head>

  <body>
    <h1>OMERO search engine client</h1>

    <form id="search_form">

    </form>

    <table id="results">

    </table>
  </body>


  <script>
    const SEARCH_ENGINE_URL = "{{ search_engine_url }}";

    $(function(){

      const searchForm = new OmeroSearchForm("search_form", SEARCH_ENGINE_URL);

      searchForm.on("results", function(results){
        console.log("RESULTS", results);
      });
    });
  </script>
</html>
